/* CreateTruckRequest.css */
.form-container {
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hint-message {
    text-align: left;
    color: #555;
    font-size: 14px;
    padding-top: 0%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

h2 {
    color: #00712D;
    margin-top: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #00712D;
    text-align: left;
    margin: 10px 8px 5px;
    font-weight: bold;
}

input,
textarea {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 80px;
}

button {
    align-self: center;
    width: 250px;
    margin-top: 20px;
    padding: 10px;
    background-color: #00712D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    color: #333;
    background-color: #D5ED9F;
}


.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-container input {
    width: 470px;
    padding-right: 35px;
    /* Make space for the unit label */
}

.unit-label {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.selectDiv {
    width: 470px;
    align-self: center;
    font-weight: bolder;
    text-align: center;
    border-color: #bdc9d3;
    height: 40px;
    border-radius: 5px;
}